.tp-caption {
    background: rgb(0, 0, 0, 0.40);
    border-radius: 10px;
    /* padding: 50px; */
    width: 100%;
}

.btn-full {
    width: 100% !important;
}

.notiflix-report {
    z-index: 10000002 !important;
}

/*Whatsapp Button*/

.float-whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    left:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.float-whatsapp:hover {
    color:#FFF;
    opacity: 0.7;
}

.float-telegram{
    position:fixed;
    width:60px;
    height:60px;
    bottom:95px;
    left:20px;
    background-color:#0088cc;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.float-telegram:hover {
    color:#FFF;
    opacity: 0.7;
}

.my-float{
    margin-top:16px;
}


.modal.fade {
    z-index: 10000000 !important;
}

.swal2-container {
    z-index: 10000001 !important;
  }

.modal-header {
    padding: 0;
}

.modal-header .close {
    padding: 10px 15px;
}

.modal-header ul {
    border: none;
}

.modal-header ul li {
    margin: 0;
}

.modal-header ul li a {
    border: none;
    border-radius: 0;
}

.modal-header ul li.active a {
    color: #e12f27;
}

.modal-header ul li a:hover {
    border: none;
}

.modal-header ul li a span {
    margin-left: 10px;
}

.modal-body .form-group {
    margin-bottom: 10px;
}

@media (min-width: 32em) {
    .cc-window.cc-banner {
      padding: 1.5em 1.8em
    }
    .cc-message {
      font-size: 0.9em;
      line-height: 1.4
    }
    .cc-compliance {
      padding-left: 4em
    }
}

/*Site notify*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.custom-social-proof {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999999999999 !important;
  font-family: "Open Sans", sans-serif;
}
.custom-social-proof .custom-notification {
  width: 320px;
  border: 0;
  text-align: left;
  z-index: 99999;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.custom-social-proof .custom-notification .custom-notification-container {
  display: flex !important;
  align-items: center;
  height: 80px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
  max-height: 75px;
  width: 90px;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
  object-fit: cover;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
  margin: 0;
  height: 100%;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 6px 6px 0;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
  font-family: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  line-height: 16px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
  margin-top: 3px !important;
  display: block !important;
  font-size: 12px !important;
  opacity: 0.8;
}
.custom-social-proof .custom-notification .custom-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
  opacity: 0;
}
.custom-social-proof .custom-notification .custom-close::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 5px;
}
.custom-social-proof .custom-notification .custom-close::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: gray;
  position: absolute;
  left: 5px;
  top: 0;
}
.custom-social-proof .custom-notification:hover .custom-close {
  opacity: 1;
}